.Post {
  max-width: 720px;
  margin: auto 0;

  a {
    display: block;

    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
    }

    strong {
      font-size: 2rem;
      font-weight: 700;
      line-height: 2rem;
    }

    p {
      font-size: 1.3rem;
      color: var(--gray-100);
      line-height: 1.5rem;
      margin-top: 0.8rem;
    }

    .Informations {
      display: flex;
      margin-top: 1.25rem;
      color: var(--gray-200);

      div {
        display: inline-block;
        margin-right: 5rem;

        & + div {
          margin-left: 2rem;
        }

        svg {
          margin-right: 0.5rem;
        }

        time,
        span {
          font-size: 1rem;
          position: absolute;
        }
      }
    }
  }
}

.ButtonLoading {
  max-width: 720px;
  margin: auto 0;
  color: var(--pink);
  border: none;
  background: var(--background);
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.Preview {
  aside {
    max-width: 100%;
    background: var(--gray-25);
    height: 3.6rem;

    margin: 5rem 0;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    a {
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--background);
    }
  }
}
