.Banner {
  max-width: 100%;
  margin: auto 0;
  margin-bottom: 5rem;

  img {
    max-width: 100%;
    margin: auto 0;
  }
}

.Post {
  max-width: 720px;
  margin: auto 0;

  h1 {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 2rem;
  }

  .Informations {
    display: flex;
    margin-top: 3rem;
    color: var(--gray-200);

    div {
      display: inline-block;
      // position: relative;
      margin-right: 8rem;

      svg {
        margin-right: 0.5rem;
      }

      time,
      span {
        font-size: 1rem;
        position: absolute;
      }
    }

    .DateEdit {
      position: absolute;
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      font-style: italic;

      time,
      p {
        position: relative;
      }

      time {
        margin-left: 0.3rem;
      }
    }
  }

  .PostContent {
    margin-top: 7rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-100);
    text-align: justify;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: var(--gray-25);
      margin: 3.5rem 0;
    }

    div {
      p,
      ul,
      ol {
        margin: 1.5rem 0;
      }

      ul,
      ol {
        padding-left: 1.5rem;

        li {
          margin: 0.5rem 0 0.5rem 1rem;
        }
      }
    }
  }
}

.Comments {
  max-width: 720px;
  margin: auto 0;
}

.NavigationPost {
  max-width: 720px;
  margin: auto 0;
  position: relative;
  margin: 4rem 0 7rem 0;
  padding: 3rem 0 0 0;
  border-top: 1px solid var(--gray-100);

  .PreviewPost,
  .NextPost {
    display: flex !important;
    flex-direction: column;
    max-width: 50%;
    position: absolute;

    span {
      font-size: 1.3rem;
    }
    a {
      margin-top: 0.5rem;
      font-weight: 600;
      color: var(--pink);
      font-size: 1.15rem;
    }
    a:hover {
      cursor: pointer;
    }
  }

  .NextPost {
    text-align: right;
    right: 0;
  }

  .PreviewPost {
    text-align: left;
    left: 0;
  }
}
